body {
    padding: 5em;
}

html {
    scroll-behavior: smooth;
}

.uk-navbar {
    position: relative;
}

#menu {
    margin: auto;
    max-width: 1280px;
}

.miyajima {
    justify-content: center;
    display: flex;
    margin: auto;
    height: 500px;
    width: 500px;
}

.pseudo {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}

.logo {
    height: 75px;
}

.figure {
    margin: 0;
}

.tableauBois {
    background-image: url('uploads/images/AssetTemplate/tableau bois.png') cover/center no-repeat;
    height: 200px;
    width: 200px;
}

.val-height-large {
    height: 700px;
}

#banniere2 {
    position: absolute;
}

.connection {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
}

.inscription {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
}

.bienvenue h1 {
    top: 150px;
    left: 50px;
    font-family: 'Amatic SC', cursive;
}

.ete {
    position: relative;
    top: 150px;
}

.uk-navbar-nav>li>a {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}

.uk-h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
}

#sylvain {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #333;
    font-weight: 500;
    margin: 20px 0 0 0;
}

#auteur {
    margin-top: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: large;
}

.uk-card img.vignette-product {
    height: 128px;
    width: 128px;
    object-fit: cover;
}

.uk-card-title {
    font-size: 6em;
    line-height: 1.4;
    font-family: 'Amatic SC', cursive;
}

#text-presentation {
    text-align: justify;
    margin: 20px;
}