body {
    padding: 5em;
}

html {
    scroll-behavior: smooth;
}

.uk-navbar {
    position: relative;
}

#menu {
    margin: auto;
    max-width: 1280px;
}

#login-form {
    margin-top: 3em;
}

#register-form {
    margin-top: 3em;
}

.uk-article {
    margin-top: 6em;
}

.miyajima {
    justify-content: center;
    display: flex;
    margin: auto;
    height: 500px;
    width: 500px;
}

.pseudo {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}

.logo {
    height: 75px;
}

.figure {
    margin: 0;
}

.tableauBois {
    background-image: url('uploads/images/AssetTemplate/tableau bois.png') cover/center no-repeat;
    height: 200px;
    width: 200px;
}

.val-height-large {
    height: 700px;
}

/* #banniere2 {
    position: absolute;
} */

#banniere3 {
    margin-left: auto;
    margin-right: auto;
} 

.connection {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
}

.inscription {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
}

.bienvenue h1 {
    top: 150px;
    left: 50px;
    font-family: 'Amatic SC', cursive;
}

.ete {
    position: relative;
    top: 150px;
}

.uk-navbar-nav>li>a {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}

.uk-h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
}

#sylvain {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #333;
    font-weight: 500;
    margin: 20px 0 0 0;
}

#auteur {
    margin-top: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: large;
}

.uk-card img.vignette-product {
    height: 128px;
    width: 128px;
    object-fit: cover;
}

.uk-card-title {
    font-size: 6em;
    line-height: 1.4;
    font-family: 'Amatic SC', cursive;
}

#text-presentation {
    text-align: justify;
    margin: 20px;
}

address, dl, fieldset, figure, ol, p, pre, ul {
    margin: 0 20px 20px 0;
}

/* gallery */

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem 2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.livre-image {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.15);
}

.livre-image:hover {
    transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }
    .gallery, .gallery-item {
        margin: 0;
    }
    .gallery, .livre-item {
        margin: 0;
    }
}

/* footer */

.site-footer {
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: rgb(31, 31, 31);
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color:rgb(254, 254, 254);
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}